<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Photogur</title>
</head>
<body>
    <h1>{{picture.title}}</h1>
    <h2>By {{picture.artist}}</h2>

    <img src="{{picture.url}}" alt="{{picture.title}}">

    <h2>Comments:</h2>
    <ul>
        {% for comment in comments %}
            <li>
                <p>{{comment.message}}</p>
                <p>From: <strong>{{comment.name}}</strong></p>
                <p>{{comment.created_at}}</p>
            </li>
        {% endfor %}
    </ul>
</body>
</html>