{% extends 'base.html' %}
{% block content %}
    <main class="picture-page-content">
        <div class="container">
            <h2>{{picture.title}}</h2>
            <h3>By {{picture.artist}}</h3>
        </div>
    
        <img src="{{picture.url}}" alt="{{picture.title}}">

        <div class="container img-comments-container">

                <form action="{% url 'create_comment' %}" method="POST">
                    <input type="hidden" name="picture" value="{{ picture.pk }}">
                    <label for="user_message">Write a comment</label>
                    <textarea name="message" id="user_message" cols="30" rows="10"></textarea>
                    <label for="user_name">Name</label>
                    <input type="text" name="name" id="user_name">
                    <button type="submit">Add comment</button>
                </form>
                <h3>Comments:</h3>
                <ul class="comments">
                    {% for comment in comments %}
                        <li>
                            <p class="message">{{comment.message}}</p>
                            <p class="name">-{{comment.name}}</p>
                            <p class="date">{{comment.created_at}}</p>
                        </li>
                    {% endfor %}
                </ul>
        </div>
    </main>
{% endblock %}
